In [77]:
import pandas as pd
from scipy.sparse import csr_matrix

In [72]:
movies_df = pd.read_csv('C:/CUNY/GIT/CUNY/Semester2/612-RecommenderSystem/Week2/ml-100k/ml-100k/u.item', header=None, sep='|')
movies_df.columns = ['movieId','movieName','release_date','NA_1','NA_2','NA_','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2','NA_2']

movies_df = movies_df[['movieId','movieName']]

ratings_df = pd.read_csv('C:/CUNY/GIT/CUNY/Semester2/612-RecommenderSystem/Week2/ml-100k/ml-100k/u.data', header=None, sep='\t')
ratings_df.columns = ['userId', 'movieId', 'rating', 'timestamp']
ratings_df = ratings_df[['userId','movieId','rating']]


ratings_df.head(n=5)
ratings_df = ratings_df.set_index('movieId').join(movies_df.set_index('movieId'))
ratings_df.reset_index(inplace = True)
ratings_df[['userId','movieId','rating']].head(10)

   userId  movieId  rating
0     308        1       4
1     287        1       5
2     148        1       4
3     280        1       4
4      66        1       3
5       5        1       4
6     109        1       4
7     181        1       3
8      95        1       5
9     268        1       3

In [73]:

ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
movieId      100000 non-null int64
userId       100000 non-null int64
rating       100000 non-null int64
movieName    100000 non-null object
dtypes: int64(3), object(1)
memory usage: 3.1+ MB

In [80]:
ratings_df_feature = ratings_df.pivot(index='movieId',columns='userId',values='rating').fillna(0)
ratings_df_feature.head(n=10)

# convert dataframe of movie features to scipy sparse matrix
mat_movie_feature = csr_matrix(ratings_df_feature.values)

<1682x943 sparse matrix of type '<type 'numpy.float64'>'
	with 100000 stored elements in Compressed Sparse Row format>